body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
    background-color: #121212;
    color: #ffffff;
}

.theme-switcher-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body:not(.dark) .theme-switcher-btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
}

body.dark .theme-switcher-btn {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}
